.App {
  margin: 40px;
}

.Title {
  margin-left: 40px;
}

.FormWrapper {
  border: 3px solid black;
  padding: 30px;
  margin: 40px;
  border-radius: 10px;
  width: 100%;
}

.ListAndFormWrapper {
  display: flex;
  flex-direction: row;
}
/* 
background 248
inner background 255
125 125 127 - text colors */