body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(248, 248, 248);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=text] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 15px;
}

h2 {
  font: sans-serif;
}

input[type=submit] {
  background-color: white;
  padding: 8px 14px;
  border-radius: 5px;
}