.IconWrapper {
  pointer-events: none;
}

.BulkButton {
  pointer-events: none;
}

.Button {
  margin-left: 8px;
}

.Button:hover {
  cursor: pointer;
}

.Button:focus {
  outline: none;
  box-shadow: none;
}
