button {
  margin-left: 8px;
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.bulkButton {
  color: rgb(0, 169, 225);
}

.addDeleteButton {
  height: 39px;
}

.content {
  pointer-events: none;
}
