.HeaderBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.DeleteQuestion {
  border: none;
  background-color: transparent;
  color: rgb(121, 122, 128);
  cursor: pointer;
}

.TitleAndFormWrapper {
  width: 100%;
  max-width: 1080px;
}

.LayoutSelector {
  border: none;
  color: rgb(121, 122, 128);
  padding: 7px;
}

.LayoutSelector:focus {
  outline: none;
}

.DropButton {
  background-color: transparent;
  color: rgb(97, 97, 99);
  border: none;
  cursor: pointer;
  border-radius: 2px;
  line-height: 0;
  padding: 5px;
}

.DropDownMenu {
  position: relative;
  display: inline-block;
  margin-left: 8px;
  padding: 2px;
}

.DropDownMenuItems {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  border-radius: 5px;
}

.DropDownMenuItems div {
  color: rgb(97, 97, 99);
  padding: 12px 0 12px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 5px;
}

.DropDownMenuItems div:hover {
  background-color: rgb(248, 248, 248);
}

.DropDownMenu:hover .DropDownMenuItems {
  display: block;
}

.DropDownMenu:hover .DropButton {
  background-color: transparent;
}

.FormWrapper {
  padding: 30px;
  margin: 40px 20px 0;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.AddQuestionButton {
  padding: 6px 12px;
  margin: 18px 20px;
  border-style: solid;
  border-color: rgb(121, 122, 128);
  color: rgb(121, 122, 128);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.VerticalDividerHeader {
  border-left: 1px solid rgb(121, 122, 128);
  height: 12px;
  margin-top: 9px;
  margin-left: 18px;
}

.CheckBoxesWrapper {
  margin-top: 16px;
}
