.OptionsBlockWrapper {
  margin-top: 10px;
}

.OptionsTitleWrapper {
  display: flex;
  flex-direction: row;
}

.OptionsInputWrapper div:not(:first-child) {
  margin-top: 16px;
}

.OptionInputWrapper {
  display: flex;
  flex-direction: row;
}

#BulkButton {
  border: none;
  background-color: transparent;
  color: rgb(0, 169, 225);
}

#BulkButton:focus {
  outline: none;
  box-shadow: none;
}

#AddDeleteButton {
  height: 39px;
  border: none;
  background-color: transparent;
}

.Icon {
  width: 22px;
  height: 22px;
  color: rgb(121, 122, 128);
}

.VerticalDividerOptions {
  border-left: 1px solid rgb(121, 122, 128);
  height: 12px;
  margin-top: 24px;
  margin-left: 18px;
}