.optionsBlockWrapper {
  margin-top: 10px;
}

.optionsTitleWrapper {
  display: flex;
  flex-direction: row;
}

.optionsInputWrapper div:not(:first-child) {
  margin-top: 16px;
}

.optionInputWrapper {
  display: flex;
  flex-direction: row;
}

.icon {
  width: 22px;
  height: 22px;
  color: rgb(121, 122, 128);
}

.verticalDivider {
  border-left: 1px solid rgb(121, 122, 128);
  height: 12px;
  margin-top: 24px;
  margin-left: 18px;
}
