.App {
  margin: 40px;
}

.Title {
  margin-left: 40px;
  color: rgb(97, 97, 99);
}

.FormWrapper {
  border: 3px solid rgb(255, 255, 255);
  padding: 30px;
  margin: 40px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.ListAndFormWrapper {
  display: flex;
  flex-direction: row;
}
          
.QuestionsList {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-right: 20px;
  overflow-wrap: break-word;
}
