.App {
  margin: 40px;
}

.Title {
  margin-left: 40px;
  color: rgb(97, 97, 99);
}

.ListAndFormWrapper {
  display: flex;
  flex-direction: row;
}
          
.QuestionsList {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding-right: 20px;
  overflow-wrap: break-word;
  background-color: rgb(255, 255, 255);
}

.JSON {
  margin-top: 24px;
}
